/.metadata/
/JogodaVelha/nbproject/private/
/JogodaVelha/build/
/Arrays/nbproject/private/
/Arrays/build/
/ArraysNotas/nbproject/private/
/ArraysNotas/build/
/Proj. Final Java/ProjFinalGuilhermeMatte/build/
/Sistema de Gerenciamento  de Fucionários/nbproject/private/
/Sistema de Gerenciamento  de Fucionários/build/
springboot/src/main/resources/application.properties
springboot/src/main/resources/application.properties
*.properties
springboot/src/main/resources/application.properties
